* {
    box-sizing: border-box;
}

body {

    background-color: rgb(19, 64, 82);

    h1 {
        color: rgb(248, 248, 167);
        text-align: center;
    }

    main {

        .location-nav {
            display: flex;
            margin: 20px auto;
            justify-content: space-between;
            width: 60%;
        }

        .main-container {
            display: flex;
            justify-content: center;

            .weather-locations {
                width: 30%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .weather-container {
                    padding: 10px;
                    height: 48%;
                    background-color: #fff;
                    border: 1px solid grey;

                }

                .locations-container {
                    padding: 10px;
                    height: 48%;
                    background-color: #fff;
                    border: 1px solid grey;


                    .locations-list {
                        .location {
                            p {
                                text-transform: capitalize;
                            }

                            button {
                                font-size: 30px;
                                cursor: pointer;
                                background-color: transparent;
                                border: none;

                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }

            .map {
                width: 30%;
                padding: 10px;
                margin: 10px;
            }
        }

        .curr-location {
            h2 {
                font-weight: 200;
                color: white;
            }

            .curr-loc-span {
                text-transform: capitalize;
            }

            display: flex;
            margin: 20px auto;
            justify-content: space-between;
            width: 60%;
        }
    }

    .currency-calc {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        width: 60%;
        margin: 50px auto;

        .calc {
            display: flex;
            justify-content: space-between;

            .culc-field {
                border: 1px solid rgb(209, 209, 209);
                text-align: center;
                padding: 7px;
                width: 120px;
            }

        }

        .culc-output {
            border: 1px solid rgb(209, 209, 209);
            text-align: center;
            padding: 7px;
            width: 120px;
        }

        .convert-btn {
            cursor: pointer;
            background-color: rgb(143, 143, 143);
            border-radius: 4px;
            color: whitesmoke;
            width: 200px;
            border: none;

            &:hover {
                background-color: rgb(100, 100, 100);
            }
        }
    }




}