@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

body nav {
  background-image: url("/assets/imgs/pexels-eberhard-grossgasteiger-2098427.jpg");
  -o-object-fit: fill;
     object-fit: fill;
  background-color: rgba(133, 4, 4, 0.705);
}

body nav .logo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .logo .logo-title {
  color: #f86945;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin: 0;
}

body nav .logo img {
  width: 100px;
  color: white;
}

body main .location-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

body main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

body main .main-container .map {
  width: 100%;
  height: 400px;
}

body main .curr-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

body main .curr-location h2 {
  margin: 0;
  font-weight: 200;
  color: white;
}

body main .curr-location .curr-loc-span {
  text-transform: capitalize;
}

body main .locations-weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

body main .locations-weather-container .locations-container {
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
  border: 1px solid grey;
  width: 60%;
}

body main .locations-weather-container .locations-container .locations-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body main .locations-weather-container .locations-container .locations-list .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

body main .locations-weather-container .locations-container .locations-list .location p {
  text-transform: capitalize;
}

body main .locations-weather-container .locations-container .locations-list .location button {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

body main .locations-weather-container .locations-container .locations-list .location button.go-to-location-btn:hover {
  color: #00b7c4;
}

body main .locations-weather-container .locations-container .locations-list .location button.delete-btn:hover {
  color: red;
}

body main .locations-weather-container .weather-container {
  padding: 10px;
  height: 100%;
  background-color: #fff;
  width: 40%;
}

body .currency-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 60%;
  margin: 50px auto;
}

body .currency-calc .calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .currency-calc .calc .culc-field {
  border: 1px solid #d1d1d1;
  text-align: center;
  padding: 7px;
  width: 120px;
}

body .currency-calc .culc-output {
  border: 1px solid #d1d1d1;
  text-align: center;
  padding: 7px;
  width: 120px;
}

body .currency-calc .convert-btn {
  cursor: pointer;
  background-color: #8f8f8f;
  border-radius: 4px;
  color: whitesmoke;
  width: 200px;
  border: none;
}

body .currency-calc .convert-btn:hover {
  background-color: #646464;
}
/*# sourceMappingURL=style.css.map */