* {
    box-sizing: border-box;
}

// @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



body {
    height: 100vh;

    // background-color: rgb(19, 64, 82);
    // h1 {
    //     color: rgb(248, 248, 167);
    //     text-align: center;
    // }
    nav {
        background-image: url("/assets/imgs/pexels-eberhard-grossgasteiger-2098427.jpg");
        object-fit: fill;
        background-color: rgba(133, 4, 4, 0.705);

        .logo {
            padding: 20px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            .logo-title {
                color: rgb(248, 105, 69);
                color: rgb(255, 255, 255);
                font-family: 'Fjalla One', sans-serif;
                font-size: 40px;
                font-weight: 100;
                margin: 0;
                // text-align: center;
            }

            img {
                width: 100px;
                color: white;
            }
        }
    }

    main {

        .location-nav {
            display: flex;
            margin: 20px auto;
            justify-content: space-between;
            width: 60%;
        }

        .main-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            margin: 0 auto;

            .map {
                width: 100%;
                height: 400px;
            }
        }

        .curr-location {
            h2 {
                margin: 0;
                font-weight: 200;
                color: white;
            }

            .curr-loc-span {
                text-transform: capitalize;
            }

            display: flex;
            margin: 20px auto;
            justify-content: space-between;
            width: 60%;
        }

        .locations-weather-container {
            display: flex;
            flex-wrap: wrap;
            height: 300px;
            width: 80%;

            margin: 0 auto;

            .locations-container {
                overflow-y: auto;
                height: 100%;
                background-color: #fff;
                border: 1px solid grey;
                width: 60%;

                .locations-list {
                    padding-inline-start: 0;

                    .location {
                        display: flex;
                        margin-left: 10px;

                        p {
                            text-transform: capitalize;
                        }

                        button {
                            font-size: 20px;
                            cursor: pointer;
                            background-color: transparent;
                            border: none;

                            &.go-to-location-btn {
                                &:hover {
                                    color: rgb(0, 183, 196);
                                }
                            }

                            &.delete-btn {
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }

            .weather-container {
                padding: 10px;
                height: 100%;
                background-color: #fff;
                width: 40%;
            }
        }
    }

    .currency-calc {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        width: 60%;
        margin: 50px auto;

        .calc {
            display: flex;
            justify-content: space-between;

            .culc-field {
                border: 1px solid rgb(209, 209, 209);
                text-align: center;
                padding: 7px;
                width: 120px;
            }

        }

        .culc-output {
            border: 1px solid rgb(209, 209, 209);
            text-align: center;
            padding: 7px;
            width: 120px;
        }

        .convert-btn {
            cursor: pointer;
            background-color: rgb(143, 143, 143);
            border-radius: 4px;
            color: whitesmoke;
            width: 200px;
            border: none;

            &:hover {
                background-color: rgb(100, 100, 100);
            }
        }
    }
}