@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #363636;
  width: 100%;
  overflow: auto;
  padding: 10px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

nav .logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo:hover {
  cursor: pointer;
}

nav .logo .logo-title {
  color: #ff5040;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin: 5px 0 0;
}

nav .logo .logo-img {
  width: 100px;
}

nav .btn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav .btn i:hover {
  color: #ff5040;
}

nav .search-location {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

nav .search-location .input-go {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

nav .search-location .input-go :focus {
  background-color: none;
}

nav .user-location-btn {
  font-size: 30px;
}

main .main-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

main .main-container .map {
  width: 60%;
  height: 25rem;
  margin: 20px;
  border-radius: 20px;
}

main .main-container .weather-container {
  height: 25rem;
  width: 215px;
  padding: 20px;
  background-color: #dddddd;
  margin: 20px;
  border-radius: 20px;
}

main .curr-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

main .curr-location h2 {
  margin: 0;
  font-weight: 200;
  color: #535353;
}

main .curr-location .curr-loc-span {
  text-transform: capitalize;
}

main .locations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid grey;
  width: 60%;
}

main .locations-container .locations-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

main .locations-container .locations-list .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

main .locations-container .locations-list .location p {
  text-transform: capitalize;
}

main .locations-container .locations-list .location button {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

main .locations-container .locations-list .location button.go-to-location-btn:hover {
  color: #00b7c4;
}

main .locations-container .locations-list .location button.delete-btn:hover {
  color: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #ff5040;
  color: #363636;
}
/*# sourceMappingURL=style.css.map */